elasticsearch:
  image: mozillamarketplace/elasticsearch
  environment:
    - TERM=xterm-256color
    - ES_MIN_MEM=128m
    - ES_MAX_MEM=512m
  ports:
    - "9200:9200"
    - "9300:9300"

fireplace:
  image: mozillamarketplace/fireplace
  command: /bin/bash /srv/fireplace/src/bin/docker_run.sh
  environment:
    - TERM=xterm-256color
    - BOWER_PATH=/srv/fireplace/bower_components/
    - GULP_CONFIG_PATH=/srv/fireplace/src/config
  volumes:
    - ./docker/source-links/fireplace/:/srv/fireplace/src
  working_dir: /srv/fireplace/src

nginx:
  image: mozillamarketplace/nginx
  command: nginx -c /etc/nginx/nginx.conf -g "daemon off;"
  environment:
    - TERM=xterm-256color
  links:
    - webpay:webpay
    - spartacus:spartacus
    - solitude:solitude
    - zamboni:zamboni
    - zippy:zippy
  ports:
    - '80:80'
  volumes:
    - ./docker/source-links/spartacus/public/:/srv/spartacus
    - ./docker/source-links/fireplace/src/:/srv/fireplace
    - ./docker/source-links/zamboni/:/srv/zamboni

memcached:
  image: mozillamarketplace/memcached
  command: memcached -u nobody
  environment:
    - TERM=xterm-256color

mysql:
  image: mozillamarketplace/mysql-service
  environment:
    - TERM=xterm-256color

redis:
  image: mozillamarketplace/redis
  environment:
    - TERM=xterm-256color

solitude:
  image: mozillamarketplace/solitude
  command: supervisord -n -c /srv/solitude/bin/docker/supervisor.conf
  environment:
    - PYTHONUNBUFFERED=1
    - PYTHONDONTWRITEBYTECODE=1
    - TERM=xterm-256color
    - ZIPPY_BASE_URL=http://zippy:2605/zippy
  hostname: solitude
  links:
    - mysql:mysql
    - zippy:zippy
  volumes:
    - ./docker/source-links/solitude/:/srv/solitude
  working_dir: /srv/solitude

spartacus:
  image: mozillamarketplace/spartacus
  command: "grunt docker"
  environment:
    - TERM=xterm-256color
  volumes:
    - ./docker/source-links/spartacus/:/srv/spartacus/src
  working_dir: /srv/spartacus/src

webpay:
  image: mozillamarketplace/webpay
  command: supervisord -n -c /srv/webpay/bin/docker/supervisor.conf
  environment:
    - MKT_HOSTNAME=mp.dev
    - PYTHONUNBUFFERED=1
    - PYTHONDONTWRITEBYTECODE=1
    - TERM=xterm-256color
    - ZIPPY_BASE_URL=http://mp.dev/zippy
  links:
    - zippy:zippy
    - solitude:solitude
    - redis:redis
  volumes:
    - ./docker/source-links/webpay/:/srv/webpay
  working_dir: /srv/webpay

zamboni:
  image: mozillamarketplace/zamboni
  command: supervisord -n -c /srv/zamboni/scripts/docker/supervisor.conf
  environment:
    - FXA_CLIENT_ID=7943afb7b9f54089
    - PYTHONUNBUFFERED=1
    - PYTHONDONTWRITEBYTECODE=1
    - TERM=xterm-256color
  links:
    - mysql:mysql
    - memcached:memcached
    - elasticsearch:elasticsearch
    - solitude:solitude
    - redis:redis
  volumes:
    - ./docker/source-links/zamboni/:/srv/zamboni
  working_dir: /srv/zamboni

zippy:
  image: mozillamarketplace/zippy
  command: "grunt start --port 2605 --noauth"
  environment:
    - TERM=xterm-256color
  links:
    - redis:redis
  volumes:
    - ./docker/source-links/zippy/:/srv/zippy/src
  working_dir: /srv/zippy/src
